// used palette https://coolors.co/palette/abc4ab-a39171-dcc9b6-727d71-6d4c3d
@import "~antd/dist/antd.less";

@primary-color: #6D4C3D; // primary color for all components
@link-color: #A39171; // link color
@success-color: #52c41a; // success state color
@warning-color: #f6bd60; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 5px; // major border radius
// @border-color-base: #DCC9B6; // major border color
@outline-fade: 45%;
@primary-color-outline: fade(@primary-color, @outline-fade);
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';