body {
    max-width: 1366px !important;
    margin: 0 auto !important;
}
*{
    font-family: 'Anek Latin', sans-serif;
}
.header {
    background-color: transparent !important;
    padding-left: 25px  !important;
    padding-right: 25px !important;
    text-align: center;
}

.header .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent !important;
    border-bottom: 0;
}
.header, .main-container,.footer{
    background-color: white !important;
}
.header .main-menu .main-menu-item {
    text-align: center;
}

.main-container {
    padding: 5%;
    padding-top: 4%;
}

.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.brand-image{
    padding: 10px;
    filter: grayscale();
    transition: all 0.3s;
}
.brand-image:hover{
    filter: none;
}

.about-text{
    font-size: 1.3em;
}

.bar-chart-container{
    background-color: #262626 !important;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: underline !important;
}
.blog-link {
    text-decoration: none !important;
}
.post-container{
    border: none;
    box-shadow: none;
}